<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>chat</title>
    <script src="jquery.js"></script>
    <script src="socket.io/socket.io.js"></script>

    <script>
        var socket = io('http://localhost:3500');
        //khi mo web len thi web=app-send-Username-dai-dien-socket.Username-ca-nhan
        this.socket.emit('App-send-Username-dai-dien-socket.Username-ca-nhan', 'Username_r');
        //socket.emit('App-send-Username-dai-dien-socket.Username-ca-nhan', $('#txtUser').val() );

        //LANG NGHE server-send-phong-ca-nhan
        socket.on('server-send-phong-ca-nhan', phongCaNhan => {
            alert(phongCaNhan.phong1 + ":" + phongCaNhan.msText);
        });


        //lang nghe server gui danh sach phong server-send-danhsach-usernamephong
        socket.on('server-send-danhsach-usernamephong', mangDSUsernamePhong => {
            $('#dsSocket_PHONG').html('');
            $('#dsSocket_PHONG').append("DANH SACH SOCKET________________________________.PHONG:");
            mangDSUsernamePhong.map(i => {
                $('#dsSocket_PHONG').append("<div class='dssocketPhong'>" + i.key + ":" + i.phong + "</div>");
            });
        });


        //hien thi socketID cua tab web nay la 
        socket.on('socketid-cua-ca-nhan-app-do-la-gi', socketID => {
            // alert(socketID);
            $('#soketID_CaNhan').append("SOCKET.ID_________________WEB");
            $('#soketID_CaNhan').append("<div class='skIDCN'>" + socketID + "<div>");
        });

        //lang nghe server send uri tu app image picker//io.to(uriSkID.skID1).emit('server-send-uri-image', ManguriSkID);
        socket.on('server-send-uri-image', ManguriSkID => {
            alert('ManguriSkID');

            ManguriSkID.forEach(i => {
                alert(i.skID1 + " key=" + i.key + ": " + i.source1.uri);
                $('#listMessageSourceUri').append("<div class='maguriSk'>" + i.skID1 + " key=" + i.key + ": " + i.source1.uri + "</div>");
                $('#image5').attr("src", i.source1.uri);

            });
        });

        // lang nghe server-send-socketID-Rieng
        socket.on('server-send-socketID-Rieng', socketIDriengA => {
            alert(socketIDriengA.skID1 + ":" + socketIDriengA.messengerT);


        });

        //lang nghe danh sach socket.ID
        socket.on('server-send-danhsach-socketID', DSsocketID => {
            $('#dsSocketID').html('');
            $('#dsSocketID').append("<div class='dsskID'>" + "DANH SACH SOCKET_____________________________.ID: " + "</div>")
            DSsocketID.map(i => {

                $('#dsSocketID').append("<div class='dsskID'>" + i.key + ":" + i.skID + "</div>")
            });
        });


        //lang nghe server send uri tu Component chatsocketUsername.js xuong server va gio lang nghe tu server ve web
        socket.on('server-send-URI-IMAGE-picker-Cho-client-co-CungUsername-socket.id.Username', ManguriSkID => {
            alert('server-send-URI-IMAGE-picker-Cho-client-co-CungUsername-socket.id.Username');
            ManguriSkID.forEach(i => {
                alert(i.skID1 + ": key =" + i.key + ": " + i.Username + ": " + i.source1.uri);
                $('#listMessageSourceUriChatSoscketUsername').append("<div class='uriima' >" + i.skID1 + ": key =" + i.key + ": " + i.Username + ": " + i.source1.uri + "</div>")
                $('#image6').attr("src", i.source1);
            });
        });

        // app == web server-send-socket.Username-rieng-da-TouchableOpacity-trong-appReact-native
        socket.on('server-send-socket.Username-rieng-da-TouchableOpacity-trong-appReact-native', UsSoketApp => {
           alert('1');
            UsSoketApp.forEach(i => {
                $('#listMessagChatSoscketUsername').append("<h4 id='aaaa' class='dsmangsocketUs'>" + i.key1 + ":" + i.socketUs + "</h4>");
                $('#listMessagChatSoscketUsername').append("<h4 id='aaaa' class='dsmangsocketUs'>" + i.Username + ": " + i.msText + "</h4>");
            });
        });
        //lang nghe server send danh sach socket.Username
        socket.on('server-send-socket.Username', mangUsSocket => {
            //  alert(mangUsSk);
            $('#dsSocketUsername').html('');
            $('#dsSocketUsername').append("<h4 class='dsmangsocketUs'>" + "DANH SACH SOCKET.________________________USERNAME:" + "</h4>");
            mangUsSocket.forEach(i => {
                $('#dsSocketUsername').append("<h4 id='i.key' class='dsmangsocketUs'>" + i.key + ":" + i.UsSoket + "</h4>");
                $('#dsSocketUsername').append("<h4 id='i.key' class='dsmangsocketUs'>" + i.Username + "</h4>");
                
                $(document).ready(function () {
                    $("h4").click( ()=> {
                        alert(i.key);
                    });

                    /*
                    $('.dsmangsocketUs').click(() => {
                      //  alert(i.UsSoket);
                        socket.emit('app-send-socket.username-va-messenger', {key1: i.key, socketUs : i.UsSoket , msText: $('#txtMessenger').val(),dsSoketUsername: mangUsSocket, Username: i.Username})
                    }); */

                });

            });
        });




        //server-send-socket.Username-rieng-da-TouchableOpacity-trong-appReact-native
        socket.on('server-send-socket.Username-rieng-da-TouchableOpacity-trong-appReact-native', socketUsrieng => {
            alert(socketUsrieng);
        });

        //lang nghe  socketID chat rieng
        socket.on('server-send-socketID-Rieng', socketIDrIENG => {
            alert(socketIDrIENG.messengerT);
        });

        socket.on('server-send-image-blob-fromWebDatabase-reactApp-toAppWeb', imgaAppWebDataBase_Receri_r => {
            $('#image4').attr("src", "data:image/jpeg;base64," + imgaAppWebDataBase_Receri_r);
            $('#listAppWebDataBase').append("<div class='imadatabase'>" + imgaAppWebDataBase_Receri_r + "</div>");
        });

        //lang nghe avatar
        socket.on('server-send-avatar-fromApp-toAppWeb', avatarB64 => {
            $('#listAvatarBase64').append("<div class=''>" + avatarB64.uri + "<div>");
            $('#imag3').attr("src", avatarB64.uri);
        })
        socket.on('server-send-messengerText-chat-rooms', mesRooms => {
            $('#ListMessenger').append("<div  class='msRooms'>" + mesRooms.un + ":" + mesRooms.ms + "<div>")
        });

        socket.on('server-send-romm', roomnhan => {
            $('#roomhientai').html(roomhientai);
        });
        socket.on('server-send-danhsach-rooms', dsRooms => {
            $('#dsRooms').html('');
            dsRooms.forEach(i => {
                $('#dsRooms').append("<div id='btndsRooms' class='dsroooms' >" + i + "</div>");
                $(document).ready(() => {
                    $('#btndsRooms').click(() => {
                        alert('333333');
                    });
                })
            });
        });
        socket.on('server-send-from-mesWeb-toAppWeb', mesW => {
            alert(mesW.un);
            $('#ListMessenger').append("<div class='msweb'>" + mesW.un + ":" + mesW.ms + "<div>");
        })
        socket.on('sever-send-username-thanhcong', (user_profile) => {
            alert('dang-ky-user-thanh cong');
            $('#currentUser').append("<span class='user1' >" + user_profile + "</span>");
        });

        socket.on('server-send-danhsach-Usernanme', mangUsername => {
            // alert('dang cap nhat mang user');
            $('#dsUser').html('');
            mangUsername.forEach(i => {
                $('dsUser').append("<div class='userna'>" + i + "</div>");
            });


            /*
               $('#boxContent').html('');
               data.forEach(i => {
                   $('#boxContent').append("<div class='user'>" + i + "</div>");
               });
            */
        });

        socket.on('server-dangky-thatbai', () => {
            alert(' username da duoc su dung');
        })
        //lang nghe app send messenger to app va web
        socket.on('server-send-messenger-from-app-to-AppAndWeb', UnMs => {
            alert(UnMs.ms);
            $('#ListMessenger').append("<div class='ms'>" + UnMs.ms + "</div>")
        });

        //lang nghe app send image to app va web
        socket.on('server-send-imagePK-fromApp-toAppWeb', imagePIK => {
            // imagePIK = { uri: 'data:image/jpeg;base64,' + response.data }
            // de lai duoc 'data:image/jpeg;base64,' + response.dat=imagePIK.uri
            alert(imagePIK.uri);
            $('#listMessageBase64').append("<div class=''>" + imagePIK.uri + "<div>");
            $('#imag1').attr("src", imagePIK.uri);
        });

        //lang nghe web send upload image to app va web
        socket.on('server-send-imageBase64-fromweb-toAppAndWeb', (imageWebBase64_new) => {
            alert('11111');
            $('#imag2').attr("src", "data:image/png;base64," + imageWebBase64_new.imageWebBase64); // hien thi image qua du lieu base84
            $('#listMessageBase64_web_upload').append("<div class='ima'>" + imageWebBase64_new.imageWebBase64 + "</div>");
        });

        $(document).ready(() => {
            $('#bntRegister').click(() => {
                //alert('dang ky');
                socket.emit('web-send-dang-ky-user', $('#txtUser').val());
            });
            $('#btnChat').click(() => {
                socket.emit('web-send-messenger-text', $('#txtMessenger').val());
            });

            //chat room
            $('#btnchatromm').click(() => {
                socket.emit('tao-room-web', $('#txtchatrom').val());
            });

            //web send chat room
            $('#btnChatRooms').click(() => {
                socket.emit('web-send-messenger-chat-rooms', $('#txtMessenger').val());
            });

            //click vao ten rooms 
            $('#dsroooms').click(() => {
                alert('1111111');
            });

            //click vao web send socket.username
            $('#bntSocketUsername').click(() => {
                alert('1');
                socket.emit('App-send-Username-dai-dien-socket.Username-ca-nhan', $('#txtUser').val());
                //   socket.emit('App-send-Username-dai-dien-socket.Username-ca-nhan', {skID1: $('#txtUser').val(), messengerT: $('$txtMessenger').val() } );
            });

            $('#giaLapSendFromTuDanhSachSocketUsername').click(() => {
                socket.emit('app-send-socket.username-va-messenger', { skID1: $('#txtUser').val(), messengerT: $('$txtMessenger').val() });
            });


            //web == app  App-send-Username-la-phong-dai-dien-socket.phong-ca-nhan
            $('#btnchatromm').click(() => {
                socket.emit('App-send-Username-la-phong-dai-dien-socket.phong-ca-nhan', $('#txtchatrom').val());
            });


        });

    </script>
    <link rel="stylesheet" type="text/css" href="chat.css">
</head>

<body>
    <div id="wrapper">


        <h1>chat web</h1>
        <div id="left">
            <div>
                <input type="text" id="txtUser">
                <input type="button" id="bntRegister" value="REGISTER">
                <input type="button" id="bntSocketUsername" value="Socket.Username">
                <input type="button" id="giaLapSendFromTuDanhSachSocketUsername" value="send.from.danh.sach.Socket.Username">


            </div>
            <div>
                <div id="userOnline">USERONLINE</div>
                <div id="dsUser"></div>
                <div id="dsRooms"></div>
                <div id="dsSocketUsername"></div>
                <div id="dsSocketID"></div>
                <div id="dsSocket_PHONG"></div>
                <div id="soketID_CaNhan"></div>
            </div>
        </div>
        <h4 id="roomhientai"></h4>
        <div id="right">
            <div id="sayhi">
                hello <span id="currentUser"></span>
                <input id="btnLogin" type="button" value="LOGIN">
            </div>
            <div id="boxContent"></div>
            <div id="ListMessenger"></div>
            <div id="send">
                <input type="text" id="txtMessenger">
                <input type="button" id="btnChat" value="Send-text">
                <input type="button" id="btnBase64" value="send-base64">
                <input type="button" id="btnChatRooms" value="Send-chat-room">
            </div>



        </div>

        <div>
            <img width="400px" src="" id="imag1">
            <img width="400px" src="" id="imag2">
            <img width="400px" src="" id="imag3">
            <img width="400px" src="" id="image4">
            <img width="200px" src="http://localhost:81/App_Chat_Web/DemoFlatList/upload/images/31537_1546318072.jpeg">
            <img width="400px" src="" id="image5">
            <img width="400px" src="" id="image6">


            <div id="listAppWebDataBase"></div>
            <div id="listAvatarBase64"> </div>
            <div id="listMessageBase64"></div>
            <div id="listMessageSourceUri"></div>
            <div id="listMessageSourceUriChatSoscketUsername"></div>
            <div id="listMessagChatSoscketUsername"></div>



            <div>
                <input id="txtchatrom" type="text">
                <input id="btnchatromm" type="button" value="tao-room">
                <div id="ListMessengerRom"></div>
            </div>

            <div>
                <form action="http://localhost:3500/photo" method="Post" enctype="multipart/form-data">
                    <input type="file" class="forn-control" id="uploadfile" name="fileUpload">
                    <input type="submit" value="upload">
                    <img width="400px" src="" id="imag3_upload">
                    <div id="listMessageBase64_web_upload"></div>

            </div>



        </div>
</body>

</html>