<html>
<header>
    <script src="jquery.js"></script>
    <script src="socket.io/socket.io.js"></script>

    <script>
        var socket = io('http://localhost:2400');


    </script>
    <link rel="stylesheet" media="screen" href="status.css" type="text/css" />

</header>

<body>
    <div id="warpper">
        <div id="avataCaNhan">
            <div id="anhbia">
                <img width="600" , height="400" src="hotgirls/4.jpg" />
            </div>
            <div id="avatar">
                <img width="200" , height="200" src="hotgirls/4.jpg" />
            </div>
        </div>
        <div class="block"></div>
        <div id="statusPublic">
            <div id="listStatus"></div>
        </div>

    </div>
</body>

</html>